VITE_API_URL=http://localhost:5000
VITE_AUDIO_API_URL=http://localhost:5002
MAX_AUDIO_UPLOAD_MB=200
MYSQL_AUDIO_DATABASE_URL=mysql+pymysql://root:@localhost/mentalia$mental_ia
MAIN_AUDIO_UPLOAD_DIR=D:\mentalia2\static\uploads
